/* about section */

.about {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}

.about__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.about__logo {
    margin-bottom: 33px;
    height: 110px;
    align-self: center;
}

.about__logo-small {
    margin-bottom: 10px;
}

.about__video-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 240px;
}

.about__photo {
    border: 10px solid var(--about-border-color);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.about__playbutton {
    position: absolute;
    fill: var(--main-color);
}

.about__playbutton:hover {
    transform: scale(1.07);
}

.about__playbutton:active {
    fill: var(--active-color);
}

.about__background {
    display: flex;
    justify-content: center;
    background: var(--backgroung-color);
    margin-bottom: 120px;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__left {
    display: flex;
    flex-direction: column;
    margin-top: 329px;
    max-width: 350px;
}

.about__title {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.about__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 125px;
    margin-top: 329px;
    margin-bottom: 90px;
    gap: 30px;
}

.about__column-left {
    max-width: 255px;
}

.about__column-right {
    max-width: 255px;
}


/* text and headings */

.about__heading--big {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--heading-color);
}

.about__heading--small {
    align-self: flex-end;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--heading-small-color);
}

.about__heading--mini {
    margin: 0;
    font-weight: 300;
    font-size: 9px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-mini-color);
}

.about__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 14px;
    color: var(--paragraph-color);
}

@media (max-width: 1024px) {
    .about__content {
        flex-direction: column;
        align-items: center;
    }
    .about__photo {
        max-width: 700px;
    }
    .about__header {
        margin-bottom: 30px;
    }
    .about__background {
        margin-bottom: 30px;
    }
    .about__left {
        margin-top: 300px;
    }
    .about__right {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .about__photo {
        border: 5px solid var(--about-border-color);
        max-width: 300px;
        height: 100%;
    }
    .about__header {
        margin-bottom: 15px;
    }
    .about__background {
        margin-bottom: 15px;
        margin-top: 160px;
    }
    .about__right {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .about__heading--big {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .about__heading--small {
        font-size: 10px;
        align-self: center;
    }
    .about__heading--mini {
        font-size: 7px;
    }
    .about__text {
        margin-bottom: 15px;
        font-size: 9px;
        text-align: center;
    }
    .about__title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        gap: 15px;
    }
    .about__playbutton {
        width: 40px;
        height: 40px;
    }
    .about__left {
        margin-top: 120px;
    }
}