/* gallery section */

.gallery {
    display: block;
    max-width: 1110px;
    margin-bottom: 150px;
}

.gallery__top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.gallery__header {
    display: flex;
    flex-direction: column;
    width: 255px;
    justify-content: center;
}

.gallery__logo {
    align-self: center;
    margin-bottom: 10px;
}

.gallery__heading {
    font-weight: 300;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    color: var(--gallery-heading-color);
    margin-top: 0;
    margin-bottom: 25px;
}

.gallery__heading--mini {
    margin: 0;
    font-weight: 300;
    font-size: 9px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--gallery-heading--mini-color);
}

.gallery__bottom {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery__left {
    max-width: 635px;
}

.gallery__right {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    gap: 30px;
}

@media (max-width: 1024px) {
    .gallery {
        max-width: 1023px;
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .gallery__top {
        flex-direction: column;
        align-items: center;
    }
    .gallery__image {
        width: 580px;
        height: 100%;
    }
    .gallery__bottom {
        flex-direction: column;
        align-items: center;
    }
    .gallery__right {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .gallery {
        max-width: 310px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .gallery__image {
        width: 300px;
        height: 100%;
    }
    .gallery__heading {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .gallery__heading--mini {
        font-size: 7px;
    }
    .gallery__top {
        gap: 15px;
    }
    .gallery__bottom {
        margin-top: 15px;
        gap: 15px;
    }
    .gallery__right {
        max-width: 310px;
        gap: 15px;
    }
}