/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1395px;
    margin: 60px auto;
}

.header__hamburger {
    stroke: var(--header-text-color);
}

.header__hamburger:hover {
    stroke: var(--main-color);
}

.header__hamburger:active {
    transform: scale(1.07);
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header__text {
    text-decoration: none;
    color: var(--header-text-color);
}

.header__text:hover {
    font-weight: bold;
    color: var(--main-color);
}

.header__text:active {
    color: var(--active-color);
}

.header__item:first-child .header__text {
    border: 1px solid var(--main-color-op);
    padding: 7px 9px 6px 9px;
    color: var(--main-color);
}

@media (max-width: 1024px) {
    .header {
        max-width: 700px;
    }
    .header__menu {
        display: none;
        margin: 30px auto;
    }
}