/* instagram section */

.instagram {
    background: var(--backgroung-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram__header {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 90px;
}

.instagram__heading--big {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--heading-color);
}

.instagram__logo-small {
    align-self: center;
    margin-bottom: 10px;
}

.instagram__heading--mini {
    margin: 0;
    font-weight: 300;
    font-size: 9px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--instagram-heading--mini-color);
}

.instagram__feed {
    min-height: 304px;
    background-image: url(../images/insta_feed-prev@1.png);
    background-color: var(--backgroung-color);
}