/* learnmore section */

.learnmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 409px;
    background-image: url(../images/learn-more.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.learnmore__heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
}

.learnmore__downloads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

.learnmore__download {
    padding: 22px 46px;
    background: #FFFFFF;
    border: none;
}

.learnmore__download-left {
    padding: 22px 58px;
}

.learnmore__text {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
}