/* learnmore section */

.learnmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 409px;
    background-image: url(../images/learn-more@1.png);
    background-color: var(--backgroung-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.learnmore__heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--learnmore-heading-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
}

.learnmore__downloads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.learnmore__download {
    padding: 22px 46px;
    background: var(--learnmore-download-color);
    border: none;
}

.learnmore__download-left {
    text-decoration: none;
    color: var(--learnmore-text-color);
    background: var(--learnmore-download-color);
    padding: 23px 58px 20px 57px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.learnmore__download-left:hover {
    color: var(--learnmore-download-color);
    box-shadow: 0 0 40px 40px #D1A954 inset;
}

.learnmore__download-left:active {
    color: var(--learnmore-text-color);
}

.learnmore__download-right {
    text-decoration: none;
    color: var(--learnmore-text-color);
    background: var(--learnmore-download-color);
    padding: 22px 46px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.learnmore__download-right:hover {
    color: var(--learnmore-download-color);
    box-shadow: 0 0 40px 40px #D1A954 inset;
}

.learnmore__download-right:active {
    color: var(--learnmore-text-color);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .learnmore {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}