/* promo section */

.promo {
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.promo__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 580px;
    height: 650px;
}

.promo__picture {
    position: absolute;
    height: 100%;
}

.promo__footer {
    height: 166px;
    background: var(--main-color-op);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.promo__border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 126px;
    width: 550px;
    border: var(--promo-border);
}

.promo__heading {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--promo-heading-color);
}

.promo__paragraph {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: var(--promo-paragraph-color);
}