@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1395px;
    margin-left: 160px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.header--menu {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header--menu_text {
    text-decoration: none;
    color: #000000;
}

.header--menu_item:first-child .header--menu_text {
    border: 1px solid rgba(209, 169, 84, 0.9);
    padding: 7px 9px 6px 9px;
    font-weight: normal;
    color: #D1A954;
}

.header--menu_item:nth-child(2) .header--menu_text {
    font-weight: bold;
    color: #D1A954;
}


/* promo slider */

.promo-slider {
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.promocard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 580px;
    height: 650px;
}

.promocard--footer {
    height: 166px;
    background: rgba(209, 169, 84, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocard--footer_heading {
    margin-top: 21px;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promocard--footer_paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
}

.promocard--footer-border {
    height: 126px;
    width: 550px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.corp-party {
    background-image: url(../images/photo-corp-party.png);
    background-position: center;
    background-repeat: no-repeat;
}

.wedding {
    background-image: url(../images/photo-wedding.png);
    background-position: center;
    background-repeat: no-repeat;
}

.soiree {
    background-image: url(../images/photo-soiree.png);
    background-position: center;
    background-repeat: no-repeat;
}

.slider-controls {
    /* 60 - 30 gap */
    margin-bottom: 120px;
}


/* section about */

.about--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about--background {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F9F7F7;
    margin-bottom: 120px;
}

.about--heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* mb 240-60 */
    margin-bottom: -180px;
}

.heading--main {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.heading--small {
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.heading--mini {
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.heading--group {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.heading--main_logo {
    height: 30px;
    margin-bottom: 10px;
}

.about--video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 240px;
}

.about--video_photo {
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25);
}

.about--video_playbutton {
    position: absolute;
}

.about--sectionleft {
    display: flex;
    flex-direction: column;
    margin-top: 329px;
    max-width: 350px;
    /* mb 90-39 */
    margin-bottom: 51px;
}

.about--sectionleft_logo {
    margin-bottom: 33px;
    height: 110px;
    align-self: center;
}

.text--main {
    margin-bottom: 39px;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}

.about--sectionright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 125px;
    margin-top: 329px;
    margin-bottom: 90px;
    gap: 30px;
}

.about--sectionright_columnleft {
    max-width: 255px;
}

.about--sectionright_columnright {
    max-width: 255px;
}

.heading--small {
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.underline {
    text-decoration-line: underline;
}


/* section gallery */

.gallery {
    display: block;
    max-width: 1110px;
    margin-bottom: 150px;
}

.gallery--top {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.gallery--top_first {
    display: flex;
    flex-direction: column;
    width: 255px;
    justify-content: center;
}

.gallery--top_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.gallery--bottom {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery--bottom_left {
    max-width: 635px;
}

.gallery--bottom_right {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    gap: 30px;
}


/* section learn more */

.learnmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 409px;
    background-image: url(../images/learn-more.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.learnmore--heading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 70px;
}

.learnmore--buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

.learnmore--buttons_button {
    padding: 22px 46px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    border: none;
    cursor: pointer;
}

.button--left {
    padding: 22px 58px;
}


/* section feedback */

.feedback {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
}

.feedback--left {
    max-width: 540px;
    margin-right: 30px;
}

.feedback--left_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}

.feedback--left_paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
    margin-bottom: 40px;
}

.feedback--left_bottom {
    display: flex;
    gap: 30px;
}

.feedback--heading {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.feedback--contacts {
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #000000;
}

.feedback--contacts_item {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    gap: 25px;
}

.feedback--right {
    display: flex;
    flex-direction: column;
}

.feedback--input {
    margin-bottom: 25px;
    height: 32px;
    width: 540px;
    border: none;
    border-bottom: 0.5px solid #D0D0D0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}

.feedback--message {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-top: 15px;
    padding-left: 20px;
    width: 540px;
    height: 196px;
    border: 0.5px solid #D0D0D0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}

.feedback--submit {
    cursor: pointer;
    border: none;
    width: 182px;
    height: 45px;
    background: #D1A954;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* section instagram */

.instagram {
    background: #F9F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram--heading {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 90px;
}

.instagram-feed {
    max-width: 1920px;
    height: 304px;
    background: url(../images/insta01-prev.png) no-repeat, url(../images/insta02-prev.png) 320px no-repeat, url(../images/insta01-prev.png) 640px no-repeat, url(../images/insta02-prev.png) 960px no-repeat, url(../images/insta01-prev.png) 1280px no-repeat, url(../images/insta02-prev.png) 1600px no-repeat, url(../images/insta01-prev.png) 1920px no-repeat;
}


/* display: flex;
flex-direction: column;
justify-content: center;
height: 409px;
background-image: url(../images/learn-more.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 120px; */


/* footer */

footer {
    display: flex;
    justify-content: center;
    gap: 530px;
    padding-top: 40px;
    padding-bottom: 37px;
}

.footer--paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #000000;
}

.footer--social {
    text-decoration: none
}